<h1><%= t '.title' %></h1>

<table>
  <tr>
    <th><%= t '.labels.title' %></th>
    <th><%= t '.labels.location' %></th>
    <th><%= t '.labels.description' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.title %></td>
    <td><%= room.location %></td>
    <td><%= room.description %></td>
    <td><%= link_to t('links.show'), room %></td>
    <td><%= link_to t('links.edit'), edit_room_path(room) %></td>
    <td><%= link_to t('links.destroy'), room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
